@import "_sizings";

$spacing-types: (
  "m": "margin",
  "p": "padding",
);
$spacing-directions: (
  "r": "right",
  "l": "left",
  "t": "top",
  "b": "bottom",
);
$spacings: (
  "s": $small-sizing,
  "m": $medium-sizing,
  "l": $large-sizing,
  "n": $no-sizing,
);
