@import "_colors";
@import "_sizings";

.filter-table {
  transition: height 1200ms;
  --table-width: 80vw;
  --max-table-width: 80vw;
  --min-table-width: 270px;

  .tab-buttons {
    position: relative;
    display: flex;

    .button {
      width: calc(var(--table-width) / 3);
      max-width: calc(var(--max-table-width) / 3);
      min-width: calc(var(--min-table-width) / 3);
      height: 40px;
    }

    .filter-button {
      @extend .button;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $active;
      transition: 800ms;
      z-index: 1;
      position: relative;

      &:hover {
        border-color: $primary;
      }
      &:focus {
        outline: none;
      }
    }

    .highlight-tab {
      @extend .button;
      background-color: $active;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      transition: 800ms;
    }
  }

  .experience-card-container {
    position: relative;
    overflow: hidden;
    transition: 800ms;
    width: var(--table-width);
    max-width: var(--max-table-width);
    min-width: var(--min-table-width);

    .experience-card {
      position: absolute;
      width: 100%;
      transition: 800ms;

      .bullet {
        overflow: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

.xp-download {
  margin: 0px;
}

.xp-icons {
  margin: 40px 0 40px 0;
}
