@import "_colors";
@import "_sizings";

.filter-table {
  --width: calc(80vw / 3);
  --max-width: 90vw;
  --min-width: 90px;
  --current-width: max(min(var(--width), var(--max-width)), var(--min-width));

  // width: 80vw;

  .tab-buttons {
    position: relative;
    display: flex;

    .button {
      width: var(--width);
      max-width: var(--max-width);
      min-width: var(--min-width);
      height: 40px;
    }

    .filter-button {
      @extend .button;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $active;
      transition: 800ms;
      z-index: 1;
      position: relative;

      &:hover {
        border-color: $primary;
      }
      &:focus {
        outline: none;
      }
    }

    .highlight-tab {
      @extend .button;
      background-color: $active;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      transition: 800ms;
    }
  }

  .experience-card-container {
    position: relative;
    overflow: hidden;
    transition: 800ms;

    .experience-card {
      position: absolute;
      width: 100%;
      transition: 800ms;

      .bullet {
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

.xp-download {
  margin: 0px;
}

.xp-icons {
  margin: 40px 0 40px 0;
}
