.filter-table {
  --width: 15vw;
  --max-width: 200px;
  --min-width: 80px;
  --current-width: max(min(var(--width), var(--max-width)), var(--min-width));

  .tab-buttons {
    position: relative;

    .button {
      width: var(--width);
      max-width: var(--max-width);
      min-width: var(--min-width);
      height: 30px;
    }

    .filter-button {
      @extend .button;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid lightgray;
      transition: 800ms;

      &:hover {
        border-color: black;
      }
      &:focus {
        outline: none;
      }
    }

    .highlight-tab {
      @extend .button;
      background-color: lightblue;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      transition: 800ms;
    }
  }

  .experience-card-container {
    position: relative;
    height: 400px;
    overflow: hidden;

    .experience-card {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: 800ms;
    }
  }
}
