@import "_colors";

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.footer-icon {
  transition: 300ms ease-out;
  position: fixed;
}

.designed-by {
  font-weight: lighter;
  color: white;
  opacity: 70%;
  font-size: 13px;
  text-decoration: none;
  transition: 800ms;

  &:hover {
    color: $primary;
    opacity: 100%;
  }
}
