@import "_sizings";
@import "_colors";

$height: 60px;
$loadingTransition: 2500ms;

.header-logo {
  transition: opacity $loadingTransition, filter 800ms,
    width $loadingTransition $loadingTransition,
    height $loadingTransition $loadingTransition,
    top $loadingTransition $loadingTransition,
    left $loadingTransition $loadingTransition,
    padding-left $loadingTransition $loadingTransition;
  position: absolute;
  opacity: 1;

  &.still-loading {
    padding: 0;
    opacity: 0;
    width: 80px;
    height: 80px;
    left: calc(50vw - 40px);
    top: calc(50vh - 40px);
  }

  &.done-loading {
    left: 0;
    padding-left: 25px;

    @media only screen and (max-width: $max-screen-width) {
      padding-left: 12px;
    }
  }
}

.header-base {
  height: $height;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100vw;
  z-index: 5;
}

.header {
  @extend .header-base;
  transition: all $loadingTransition $loadingTransition, top 1200ms;
  height: 100vh;

  &.hidden {
    top: calc(-#{$height} * 2);
  }

  &.done-loading {
    height: $height;
  }
}

.header-area {
  @extend .header-base;
}

.header-content {
  transition: 1200ms;
  z-index: 5;

  @media only screen and (max-width: $max-screen-width) {
    position: absolute;
    flex-direction: column;
    width: 50vw;
    top: 0px;
    right: -50vw;
    padding: $height 0 0 0;
    height: 100vh;
    background: #161617;
    opacity: 0.8;
    transition: 800ms;

    &.visible {
      right: 0;
    }
  }
}

.options-container {
  transition: opacity $loadingTransition 3500ms;
  opacity: 0;

  &.done-loading {
    opacity: 1;
  }
}

.hamburger {
  display: none;
  z-index: 6;
  fill: $secondary;
  transition: 800ms;

  &.hamburger-active {
    fill: $primary;
    padding-bottom: 5px;
  }

  @media only screen and (max-width: $max-screen-width) {
    display: unset;
  }
}
