@import "_sizings";
@import "_colors";

$height: 60px;

.header-logo {
  padding-left: 13px;

  @media only screen and (max-width: $max-screen-width) {
    padding-left: 10px;
  }
}

.header-base {
  height: $height;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  left: 0;
}

.header {
  @extend .header-base;
  transition: all 1200ms;

  &.hidden {
    top: calc(-#{$height} * 2);
  }
}

.header-area {
  @extend .header-base;
  z-index: 5;
}

.header-content {
  z-index: 5;

  @media only screen and (max-width: $max-screen-width) {
    position: absolute;
    flex-direction: column;
    width: 50vw;
    top: 0px;
    right: -50vw;
    padding: $height 0 0 0;
    height: 100vh;
    background: #161617;
    opacity: 0.8;
    transition: 800ms;

    &.visible {
      right: 0;
    }
  }
}

.options-container {
  transition: 800ms;
}

.hamburger {
  display: none;
  z-index: 6;
  fill: $secondary;
  transition: 800ms;

  &.hamburger-active {
    fill: $primary;
    padding-bottom: 5px;
  }

  @media only screen and (max-width: $max-screen-width) {
    display: unset;
  }
}
