@import "_sizings";
@import "_colors";

.medium {
  width: $medium-sizing;
  height: $medium-sizing;
}

.large {
  width: $large-sizing;
  height: $large-sizing;
}

.xlarge {
  width: $x-large-sizing;
  height: $x-large-sizing;
}

.grayscale {
  filter: grayscale(1);
  transition: 800ms;

  &:hover {
    filter: grayscale(0);
  }
}

.primary {
  fill: $secondary;
  transition: 400ms;

  &:hover {
    fill: $primary;
    padding-bottom: 5px;
  }
}

// .none {
// }
