@import "_sizings";
@import "_colors";

.introduction {
  padding-top: 60px;
  @media only screen and (max-width: $max-screen-width) {
    flex-direction: column;
  }

  @media only screen and (max-height: 680px) {
    justify-content: unset;
  }

  .headshot {
    width: 400px;

    @media only screen and (max-width: $max-screen-width) {
      width: 80vw;
    }
  }

  .introduction-text {
    margin-left: 60%;

    @media only screen and (max-width: $max-screen-width) {
      margin-left: unset;
      z-index: 2;
    }
  }

  .introduction-header {
    font-size: 4vw;
    font-weight: lighter;
    color: $secondary;
    text-align: left;
    margin: 0px 0 40px 0;

    @media only screen and (max-width: $max-screen-width) {
      font-size: 10vw;
      margin: 0 0 20px 0;
    }
  }

  .introduction-paragraph {
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;

    @media only screen and (max-width: $max-screen-width) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
    }

    @media only screen and (max-height: 600px) {
      font-size: 11px;
    }
  }
}

.input {
  width: 200px;
  height: 30px;
  text-overflow: ellipsis;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgrey;
  transition: 800ms;

  &:hover {
    border: 1px solid $primary;
  }
}

.featured-title {
  padding: 0 0 60px 0;
  @media only screen and (max-width: $max-screen-width) {
    padding: unset;
  }
}

.text-area {
  @extend .input;
  max-height: 300px;
  max-width: 300px;
}

.contact {
  margin: 80px 0 34px 0;
}

.contact-p {
  width: 40vw;
  text-align: center;
  min-width: 200px;
  margin: 0 0 34px 0;
}

.contact-b {
  margin: 0;
}
