@import "_colors";
@import "_sizings";

.projects {
  $bottomMargin: 34px;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  column-gap: 80px;
  row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: space-between;

  .project {
    display: grid;
    transition: border 800ms;
    margin: 0 0 $bottomMargin 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title . externalLink"
      "description description description"
      "description description description"
      "tech tech tech"
      "github github github";

    @media only screen and (min-width: $max-screen-width) {
      border-left: 5px solid $active;
      padding-left: 30px;

      &:hover {
        border-left-color: $primary;
      }
    }

    @media only screen and (max-width: $max-screen-width) {
      border-top: 5px solid $active;
      padding-top: 30px;

      &:hover {
        border-top-color: $primary;
      }
    }

    .title {
      grid-area: title;
      margin: 0 0 $bottomMargin 0;
    }

    .external-link {
      grid-area: externalLink;
      align-self: center;
      justify-self: center;
      display: flex;
      margin: 0 0 $bottomMargin 0;
    }

    .github {
      grid-area: github;
      align-self: center;
      justify-self: flex-start;
      margin: 0;

      .button-content {
        padding: 0;
      }
    }
    .description {
      grid-area: description;
      min-height: 80px;
      margin: 0 0 $bottomMargin 0;
    }
    .tech {
      grid-area: tech;
      margin: 0 0 $bottomMargin 0;
    }
  }
}
